/* Conteneur de la grille */
body {
    font-family: sans-serif;
    text-align:center;
    background-color: rgba(0, 0, 30, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    margin: auto; /* Centrer horizontalement et verticalement */
  }
  
  /* Style des cellules */
  .cell {
    background-color: white; /* Couleur des cellules */
    display: flex; /* Centrer le contenu */
    justify-content: center;
    align-items: center;
    border-radius: 10%;
  }

  .valid {
    background-color: limegreen;
  }

  .good {
    background-color: yellow;
  }

  .unvalid {
    background-color: lightgray;
  }

  .uncorrect {
    background-color: #FE1B00	;
  }