/* Game grid style */
html {
  height: 100%;
  overflow: hidden;
  user-select: none;
}

body {
  font-family: sans-serif;
  text-align: center;
  display: grid;
  align-items: center;
  grid-template-rows: 1.5rem 3fr 1fr;
  grid-template-columns: 100%;
  gap: 3vh;
  padding: 1vh;
  height: calc(100% - 1vh - 1.5rem);
  /*background-image: url("/static/wallpaper.webp");*/
  background-repeat: no-repeat; /* No image repetition */
  background-position: center; /* Center imagee */
  background-size: auto; /* No resizing */
  animation-name: opacityAnimation;
  animation-duration: 0.1s;
  place-content: center;
}

.grid-container {
  display: grid;
  margin: auto;
  gap : 0.5rem;
  box-sizing: border-box;/* Include padding in element calculation */
  padding: 0.25rem;/* For ease of calculation, the grid width then looks like 1/2 * gap + cell + gap + cell + ... 1/2 * gap and the height as 1/2 * gap + cell + gap + cell + ... 1/2 * gap, so height / width = k * (gap + cell) / (l * (gap + cell)) = k / l = NBTRY / NBLETTERS with k and l integers */
}

/* Cell styling */
.cell {
  background-color: #f0f0f0; /* Cell color */
  display: -webkit-flex; /* Prefix for Safari mobile */
  display: flex; /* Centering content */
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  aspect-ratio: 1;
  -webkit-aspect-ratio: 1;
  font-weight: bold;
}

.game-info {
  font-size: 1.5em;
  color: white;
  text-align: center;
  display: grid;
  gap : 5vw;
  grid-template-columns: 1fr 1fr;
}

#word-number {
  align-content: flex-end;
  justify-self: flex-end;
}

#score {
  align-content: flex-end;
  justify-self: flex-start;
}

img.noodles {
  height: 1.5em;
}

/* Alphabet container */
.alphabet-container {
  display: -webkit-flex; /* Prefix for Safari mobile */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;/* Include padding in element calculation */
  padding: 0.25rem;
  height: min(100%, calc(0.3 * (100vw - 20px)));/* Occupies the height defined by the grid (or less if the width exceeds (height / width = 0.3))*/
}

.alphabet-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.alphabet-row {
  display: -webkit-flex; /* Prefix for Safari mobile */
  display: flex; /* Standard for modern browsers */
  justify-content: center;
  gap: 0.5rem;
  height: 100%;
  width: 100%;
}

.alphabet-cell {
  display: -webkit-flex; /* Prefix for Safari mobile */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 10%;
  aspect-ratio: 1;
  -webkit-aspect-ratio: 1;
  height: 100%;
  font-weight: bold;
}

.alphabet-cell:hover {
  cursor: pointer;
  filter: brightness(75%); /* Reduces brightness to 75% */
}

.alphabet-cell.clicked {
  filter: brightness(75%); /* Reduces brightness to 75% */
  outline-color : black;
  outline-style: solid;
}

.alphabet-cell.special {
  background-color: unset;
}

/* Menu background style */
.menu-background {
  color: #f0f0f0;
  display: -webkit-flex; /* Prefix for Safari mobile */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

/* Menu container */
.menu-container {
  text-align: center;
  padding: 2em;
}

/* Game title */
.menu-title {
  font-size: 4em;
  margin-bottom: 1em;
  color: #f0f0f0; /* General text color */
  font-weight: bold;
  margin-top: 0px;
}

.menu-title .highlight {
  display: inline-block; /* Controls highlight size */
  width: 1em; /* Fixed size for each square */
  height: 1em; /* Maintains height so that each letter has an equal square */
  text-align: center; /* Center the letter in the box */
  line-height: 1em; /* Center the letter vertically */
  padding: 0 0.2em; /* Letter spacing */
  border-radius: 5px; /* Rounded corners */
}

.menu-title .S {
  background-color: #4caf50; /* Green background */
}

.menu-title .M {
  background-color: #ffc107; /* Yellow background */
}

.menu-title .T {
  background-color: #f44336; /* Red background */
}

/* Button container */
.button-container {
  display: -webkit-flex; /* Prefix for Safari mobile */
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

/* Button */
.menu-button {
  background: #f0f0f0;
  color: rgba(0, 0, 30, 0.95);
  border: none;
  font-size: 1.5em;
  font-weight: bold;
  padding: 1em 2em;
  border-radius: 1em;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menu-button:hover {
  background: #f0f0f0;
  transform: scale(1.1);
}

.menu-button:active {
  transform: scale(1.05);
}

/* Dashboard button */
.dashboard-button {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  height: 2rem;
  width: 2rem;
  padding: 0.5rem;
}

.dashboard-button:hover {
  cursor: pointer;
  filter: brightness(75%); /* Reduces brightness to 75% */
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20%;
}

/* Home button */
.home-button {
  background: #f0f0f0;
  color: rgba(0, 0, 30, 0.95);
  border: none;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 1em;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  display: inline-block;
  height: 1em;
  width: 2em;
  left: calc(1vw + 10px);
  position: absolute;
  top: calc(1vh + 10px - 0.25em);
}

.home-button:hover {
  background: #f0f0f0;
  transform: scale(1.1);
}

.home-button:active {
  transform: scale(1.05);
}


dialog {
  position: fixed;
  padding: 30px;
  background: linear-gradient(to bottom, #FFF, #F4F4F4) #FFF;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  text-align: center;
  transform-origin: 50% 50%;
  animation: dialog 300ms cubic-bezier(.3,0,.1,1.4) forwards 1;
  will-change: transform, opacity;
  border: none !important;
  border-radius: 10px;
  max-width: 60vw;
}

dialog:not([open]) {
  display: none; /* Ensures compatibility if Safari does not support <dialog> */
}

dialog:focus-visible {
  outline: none; /* Disables default focus indicator */
}

dialog button {
  pointer-events: auto; /* Ensures that the button can be clicked */
}

@keyframes dialog {
  from {
    transform: scale(0.1);
    opacity: 0;
  }
}

dialog::backdrop {
  opacity: 0;
  background: radial-gradient(circle at center, rgba(50,50,50,0.5), rgba(0,0,0,0.5));
  transition: opacity 500ms ease-in-out;
}

dialog[open]::backdrop {
  opacity: 1;
}

.next-button {
  position: absolute;
  border: 1px solid black;
  /*width: 7rem;*/
  left: 50%;
  transform: translateX(-50%);
  background: #f0f0f0;
  color: rgba(0, 0, 30, 0.95);
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 1em;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  display: inline-block;
  bottom: 25px;
  transform-origin: center;
}

.next-button:hover {
  background: #f0f0f0;
  transform: translateX(-50%) scale(1.1);
}


/* General style of rules */
.rules-background {
  color: #000; /* Black text */
  background-color: #fff; /* White background */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

/* Centering the title */
header {
  margin-top: 1em;
  text-align: center;
}

/* Stylized title with alternate highlighting */
.rules-title {
  font-size: 3em;
  margin: 1rem;
  font-weight: bold;
  letter-spacing: 0;
  color: #f0f0f0;
  position: absolute;
  top: calc(1vh + 10px - 0.25em);
  justify-self: center;
}

.rules-title .R { background-color: #4caf50; }
.rules-title .G { background-color: #ffc107; }
.rules-title .S { background-color: #f44336; }

/* Rules container */
.rules-container {
  text-align: center;
  padding: 2em;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  width: 90%;
  margin: 1em auto;
  position: absolute;
  justify-self: center;
}

/* Rules content */
.rules-content {
  font-size: 1em;
  line-height: 1.5;
}

.rules-content ul {
  list-style-type: none;
  padding: 0;
  margin: 1em 0;
}

.rules-content li {
  margin: 0.5em 0;
  font-weight: bold;
}

.rules-content p {
  margin-bottom: 1em;
  text-align: center;
}



.player-cell {
  border: 4px solid indianred;
}

.ia-cell {
  border: 4px solid deepskyblue;
}

@keyframes blinking {
  0%, 100% { border-color: deepskyblue; }
  50% { border-color: transparent; }
}

@-webkit-keyframes blinking {
  0%, 100% { border-color: deepskyblue; }
  50% { border-color: transparent; }
}

.ia-cell-blinking {
  animation: blinking 2s infinite;
  -webkit-animation: blinking 2s infinite;
}

.valid {
  background-color: #4caf50;
}

.good {
  background-color: #ffc107;
}

.unvalid {
  background-color: lightgray;
}

.uncorrect {
  background-color: #f44336;
}

.alphabet-cell.unvalid {
  color: gray;
}

.btn-difficulty {
  font-size: 1rem;
  padding: 0.5em 1em;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  border-radius: 1em;
  right: calc(1vw + 10px);
  position: absolute;
  top: calc(1vh + 10px - 0.25em);
  color: white;
}

.btn-difficulty:hover {
  animation: infinite 1s infinite;
}

.btn-difficulty.easy {
  background-color: #4caf50;
}

.btn-difficulty.middle {
  background-color: #ffc107;
}

.btn-difficulty.hard {
  background-color: #ff8c42;
}

.btn-difficulty.expert {
  background-color: #f44336;
}

@keyframes infinite {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.help-container {
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  border-radius: 1em;
  right: calc(1vw + 10px);
  position: absolute;
  width: 5em;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  overflow: visible;
}

/* Tooltip text */
.help-button {
  align-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 10%;
  place-self: center;
  font-size: 1.875rem;
  font-weight: bold;
  overflow: visible;
  position: relative;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  width: max-content;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 10%;
  padding: 0.5rem;
  position: absolute;
  bottom: calc(100% + 0.5rem);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000000;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  font-size: 1rem;
  max-width : 100%;
}

.help-button:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip-score {
  display: inline-block;
  font-weight: bolder;
}

.unclickable {
  filter: brightness(50%);
  cursor: not-allowed;
}

/** 
  margin : 8px
  padding : 1vh
  score : 1.5rem
  gap  : 3vh
  grid : 3fr
  gap  : 3vh
  alphabet : 1fr
  padding : 1vh
  margin : 8px

  =>  100vh = 8px + 1vh  + 1.5rem +  3vh + 3fr  + 3vh + 1fr +  1vh + 8px
  =>  1fr  = calc(23vh - 4px  -  0.375rem)

  => gridMaxWidth (if nbLetters == 9) = calc(9 / 6 *  3 * (23vh - 4px  -  0.375rem))
*/

@media (max-width: calc(9 / 6 *  3 * (23vh - 4px  -  0.375rem) - 2vh + 20px + 6vw + 10em)) {
  body {
    grid-template-rows: 1.5rem 3fr 1fr 5rem;
    overflow: hidden;
  }

  .help-container {
      justify-self: center;
      position : relative !important;
      height : 5rem !important;
      top : 0 !important;
      right : 0 !important;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
  }

  .tooltip  {
      max-width : unset;
      padding-top: 0;
  }
}

#message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 2rem;
  border-radius: 10px;
  font-size: 2rem;
  text-align: center;
}

@keyframes  opacityAnimation {
  0%  {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes  revverseOpacityAnimation {
  0%  {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}