<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUMOT</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>let real_word = "{{ data.word }}";
        let score = parseInt("{{ data.score }}");
        let count = parseInt("{{ data.count }}");
    </script>
    <script src="{{ url_for('static', filename='appUtils.js') }}"></script>
    <script>
        /** Charger le fond d'écran depuis le cache **/
        appUtils.loadObj("/static/wallpaper.jpg", true).then((res) => {
            appUtils.doIfOrWhen("DOMContentLoaded", () => {
                document.body.style.backgroundImage = `url(${res})`;
            });
        })
    </script>
    <script src="{{ url_for('static', filename='confetti.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        const PLAYERTURN = -1;
        appUtils.subscribe("keydown", (key) => enterKey(key));
    </script>
</head>
<body>
    <a class="home-button" onclick='window.location.href="/"'>
        <span style="
            border-style: solid;
            border-width: 0.25em 0.25em 0 0;
            content: '';
            display: inline-block;
            height: 0.45em;
            position: relative;
            top: 0.20em;
            transform: rotate(-135deg);
            vertical-align: top;
            width: 0.45em;
            left: 0.14em;
        "></span>
    </a>
    <div class="game-info">
        <span id="word-number">Mot {{ data.count }}</span>
        <span id="score">Score : {{ data.score }} <img class="noodles"></span>
    </div>
    <div class="grid-container"></div>
    <div class="alphabet-container">
        <div class="alphabet-grid"></div>
    </div>
    <div class="help-container">
        <div onclick="appUtils.emit('helpIA')" style="font-size: 3rem;" class="help-button" id="helpIA">🧠
            <div class="tooltip">
                Aide de l'IA <span class="tooltip-score">100 <img class="noodles"></span>
            </div>
        </div>
        <div onclick="appUtils.emit('helpLetterBP')" style="background-color: #4caf50;" class="help-button" id="helpLetterBP">S
            <div class="tooltip">
                Lettre bien placée <span class="tooltip-score">60 <img class="noodles"></span>
            </div>
        </div>
        <div onclick="appUtils.emit('helpLetterM')" style="background-color: lightgray; color: grey;" class="help-button" id="helpLetterM">S
            <div class="tooltip">
                Lettre non valide <span class="tooltip-score">30 <img class="noodles"></span>
            </div>
        </div>
    </div>            
</body>
</html>