<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Tusmo</title>
</head>
<body class="menu-background">
    <div class="menu-container">
        <h1 class="menu-title">
            <span class="T">S</span>U<span class="s">M</span>O<span class="o">T</span>
          </h1>
          
        <div class="button-container">
            <button class="menu-button" onclick="window.location.href='/solo'">Solo</button>
            <button class="menu-button" onclick="window.location.href='/versus_ia'">Versus IA</button>
            <button class="menu-button" onclick="window.location.href='/regles'">Règles</button>
        </div>
    </div>
</body>
</html>
