<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <script src="{{ url_for('static', filename='appUtils.js') }}"></script>
    <script>
        let domLoad = false;
        appUtils.subscribe("DOMContentLoaded", () => domLoad = true);
        
        /** Charger le fond d'écran depuis le cache **/
        appUtils.loadObj("/static/wallpaper.jpg").then((res) => {
            if(domLoad){
                document.body.style.backgroundImage = `url(${res})`;
            }
            else {
                appUtils.subscribe("DOMContentLoaded", () => {
                    document.body.style.backgroundImage = `url(${res})`;
                });
            }
        })
    </script>
    <title>SUMOT</title>
</head>
<body class="menu-background">
    <div class="menu-container">
        <h1 class="menu-title">
            <span class="T">S</span>U<span class="s">M</span>O<span class="o">T</span>
          </h1>
          
        <div class="button-container">
            <button class="menu-button" onclick="window.location.href='/solo'">Solo</button>
            <button class="menu-button" onclick="window.location.href='/versus_ia'">Versus IA</button>
            <button class="menu-button" onclick="window.location.href='/regles'">Règles</button>
        </div>
    </div>
</body>
</html>
