<!DOCTYPE html>
<html lang="fr" style="background-color: #FBA999;">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='appUtils.js') }}"></script>
    <script>
        /** Charger le fond d'écran depuis le cache **/
        appUtils.loadObj("/static/wallpaper.jpg", true).then((res) => {
            appUtils.doIfOrWhen("DOMContentLoaded", () => {
                setTimeout(() => {
                    document.body.style.backgroundImage = `url(${res})`;
                    document.documentElement.removeAttribute('style')
                }, 500);
            });
        })
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUMOT</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body class="menu-background">
    <div class="menu-container">
        <h1 class="menu-title">
            <span class="T">S</span>U<span class="s">M</span>O<span class="o">T</span>
          </h1>
          
        <div class="button-container">
            <button class="menu-button" onclick="appUtils.goToLocation('/solo')">Solo</button>
            <button class="menu-button" onclick="appUtils.goToLocation('/versus_ia')">Versus IA</button>
            <button class="menu-button" onclick="appUtils.goToLocation('/regles')">Règles</button>
        </div>
    </div>
</body>
</html>
