<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUMOT</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <script src="{{ url_for('static', filename='appUtils.js') }}"></script>
    <script>
        /** Charger le fond d'écran depuis le cache **/
        appUtils.loadObj("/static/wallpaper.jpg", true).then((res) => {
            appUtils.doIfOrWhen("DOMContentLoaded", () => {
                document.body.style.backgroundImage = `url(${res})`;
            });
        })
    </script>
    <title>SUMOT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <a class="home-button" onclick='window.location.href="/"'>
        <span style="
            border-style: solid;
            border-width: 0.25em 0.25em 0 0;
            content: '';
            display: inline-block;
            height: 0.45em;
            position: relative;
            top: 0.20em;
            transform: rotate(-135deg);
            vertical-align: top;
            width: 0.45em;
            left: 0.14em;
        "></span>
    </a>

    <!-- Titre avec surlignage alterné -->
    <h1 class="rules-title">
        <span class="R">R</span>
        <span class="E">È</span>
        <span class="G">G</span>
        <span class="L">L</span>
        <span class="E">E</span>
        <span class="S">S</span>
    </h1>

    <div class="rules-container">
        <div class="rules-content">
            <p>1. Vous avez <strong>6 essais</strong> pour trouver le mot mystère.</p>
            <p>2. Le mot doit <strong>commencer par la lettre donnée</strong>.</p>
            <p>3. Signification des couleurs :</p>
            <ul>
                <li><strong>ROUGE</strong> : Une lettre bien placée.</li>
                <li><strong>JAUNE</strong> : Une lettre existe mais est mal placée.</li>
                <li><strong>BLEU</strong> : Une lettre n'existe pas dans le mot.</li>
            </ul>
        </div>
    </div>
</body>
</html>
